<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoCult Mini App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <p id="balance">Ваш баланс: </p>
    <h1>GeoCult</h1>
    <a href="{% url 'my_place' %}">Мои места</a>
    <a href="{% url 'shop' %}">Магазин</a>
    <a href="{% url 'geo' %}">Начать путешествие</a>

    <script>
        const balanceP = document.getElementById('balance');
        let id = document.cookie.split("; ")
                .find((row) => row.startsWith("id")).slice(3)
        let idTg = ''
        if (id){
            idTg = id
        }else {let tg = window.Telegram.WebApp
        idTg = tg.initDataUnsafe.user.id}
        document.cookie = "id=" + idTg.toString()


        let data={
            idTg: idTg,
        };

        let json = JSON.stringify(data);
        balance = fetch('/api/balance', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: json
        });
        balance.then(response=>response.json())
            .then(balance => {
                balanceP.innerText += balance
            })
    </script>
</body>
</html>