<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Margarine&family=Nova+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoCult Mini App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <p id="balance"></p>
    <div class="menu">
        <p id="a"><a href="{% url 'my_place' %}"><img class="point" src="{% static 'point.png'%}"></a></p>
        <p id="a"><a href="{% url 'shop' %}"><img class="point" src="{% static 'shop.png'%}"></a></p>
    </div>
    <img id="kent" src="{% static 'kent.png'%}">
    <a href="{% url 'geo' %}"><p id="trip">Начать путешествие</p></a>

    <script>
        const balanceP = document.getElementById('balance');
        let id = document.cookie.split("; ")
                .find((row) => row.startsWith("id"))
        let tg = window.Telegram.WebApp
        let idTg = ''
        if (id){
            idTg = id.slice(3)
        }else if (tg.initDataUnsafe.user) {
        idTg = tg.initDataUnsafe.user.id
        }else {
            let date = new Date()
            idTg = date.getTime()
        }

        document.cookie = "id=" + idTg.toString()


        let data={
            idTg: idTg,
        };

        let json = JSON.stringify(data);
        balance = fetch('/api/balance', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: json
        });
        balance.then(response=>response.json())
            .then(balance => {
                balanceP.innerText += "Баланс: "+balance[0]+"₲"
                for (let i = 0; i < balance[1].length; i++) {
                    let img = document.createElement('img')
                    img.id = balance[1][i].slice(0, -4)
                    img.src = `static/${balance[1][i]}`
                    img.className = "imgHat"
                    document.getElementById('kent').before(img)
                }
            })
    </script>
</body>
</html>