{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
</head>
<body>
    <p id="reward"></p>
    <img src="{% static 'img.png'%}" alt="logo" onclick="GetPos()" id="map">
<script>
    const reward = document.getElementById('reward')
    const map = document.getElementById('map')
    function GetPos() {
        let data={
            posX: event.clientX,
            posY: event.clientY,
            idPlace: document.cookie.split("; ")
                .find((row) => row.startsWith("place")).slice(5),
            idUser: document.cookie.split("; ")
                .find((row) => row.startsWith("id")).slice(3)
        };

        let json = JSON.stringify(data);
        let listReward = fetch('/api/pos', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: json
        });

        listReward.then(response=>response.json())
            .then(rewardN => {
                reward.innerText = rewardN[0] + 'троя награда     ' + rewardN[1] + 'м'
            })
        map.style.opacity = 0
    }
</script>
</body>
</html>