<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
</head>
<body>
    <p id="reward"></p>
    <img src="{% static 'img.png'%}" alt="logo" onclick="GetPos()" id="map">
<script>
    const reward = document.getElementById('reward')
    const map = document.getElementById('map')
    function getPosition() {
    let e = window.event;
    let x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
    let y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;

    return {posX: x, posY: y, idPlace: document.cookie.split("; ")
                .find((row) => row.startsWith("place")).slice(6),
            idUser: document.cookie.split("; ")
                .find((row) => row.startsWith("id")).slice(3)}
}
    function GetPos() {
        let data = getPosition()
        let json = JSON.stringify(data);
        let listReward = fetch('/api/pos', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: json
        });

        listReward.then(response=>response.json())
            .then(rewardN => {
                reward.innerText = `${rewardN[0]} твоя награда ${rewardN[1]} м`
            })
        map.remove()
    }
</script>
</body>
</html>