html{
    background: -webkit-linear-gradient(90deg, #68a4dd90,#2ebf8c90);
    height:100%;
}
#map{
    position: absolute;
    top: 0;
    left: 0;
}
#rewardFail{
    height:105px;
    font-family: "Caveat", cursive;
    margin:auto;
    color:#00000060;
    background-color: #2EBF8C;
    width:550px;
    font-size: 36px;
    border-radius: 50px;
    box-shadow: 0px 1px 20px #00000090;
    text-align: center;
    #reward{
        margin-top: 10px;
    }
    #fail{
        margin-bottom: 10px;
    }
}
#back{
        height:70px;
        width:77px;
        background-color: #68A4DD;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 1px 20px #00000090;
       margin-left:20px;
       margin-top:20px;
}
#arrow{
    padding-top: 8px;
    padding-left: 2px;
}
